

/*!----------*/
body { background-color: #a2a2a2; font-family: 'Roboto', sans-serif; font-size: 20px; }
.form-class{
  width:270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 50 px;
  backgroun-color: white;
  borde-radius: 65px;
}
.form {
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}
.form fieldset {
	border: 1px solid #4f7942 ;
}
.form legend {
	margin: 0 5px;
	padding: 0 5px;
	color: #4f7942 ;
}
