body{
    text-align: left;
    background-color: #fcf7f7;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    text-align:left;
}
style {
  display: block;
  border: 1px dashed black;
}
form{
    display:flex;
    flex-direction: column;
    gap:10px;
    
}
.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
input,textarea,select{
    background-color: #fcf7f7;
    color: black;
}
